<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        li {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: rgb(162, 163, 161);
        }

        .foot {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body style="background-color:rgb(245, 246, 246)">
    <div>
        <br><br>
    </div>
    <div class="container-fluid" style="display: flex;">
        <div class="col-md-2" style=" padding-right: 5px; ">
            <!-- catagory -->
            <div class="card  ">
                <!-- <h5 class="card-header bg-white border-0" style="text-align: center; color: darkslategrey;">Categories</h5> -->
                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <h5 style="color: mediumslateblue;"><i style="padding-right: 7px;"
                                        class="fa-solid fa-bars"></i><b>CATEGORY</b></h5>
                                <li class=" mb-2">
                                    <a routerLink="/entertainment" href="#"
                                        class="text-secondary"><b>ENTERTAINMENT</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/technology" href="#" class="text-secondary"><b>TECHNOLOGY</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/lifestyle" href="#" class="text-secondary"><b>LIFESTYLE</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/political" href="#" class="text-secondary"><b>POLITICAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/sports" href="#" class="text-secondary"><b>SPORTS</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/spiritual" href="#" class="text-secondary"><b>SPIRITUAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/education" href="#" class="text-secondary"><b>EDUCATION</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advertisement -->
            <div style="border-radius: 5px; text-align: center; margin-top: 10px; padding: 5px;">
                <h6 style="color:rgb(236, 86, 60);background-color:white ;">Advertisement</h6>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSeCdVmBBAOE7uxf0IdbwdlQLC3C93s6p3dQ&usqp=CAU" alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRieMUAxfhVz3YU8VoufvDEwj5pfjZH0QdasQ&usqp=CAU"
                        alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYtz4syzr88x0uEWFnjhxEfgjQdhx6SlZudg&usqp=CAU"
                        alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MU8wT3n4hShMCa3ZZVUyFrjjbKplTyg7-ZGjRYBxil5Vux5UZmfZv048ZOrbTw4dSmU&usqp=CAU"
                        alt="">
                </div><br>
                <div>
                    <iframe width="220px" height="100px" class="youtube"
                        src="https://www.youtube.com/embed/bCHgWKPUnXc?feature=shared" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
                    <br>
                </div>
                                
            </div>
        </div>

        <div style="padding-bottom: 0px; border: 2px solid white; height: 400px; margin-left: 10px; width: 900px; margin-right: 15px; border: 1px solid #ddd; border-radius: 8px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
            class="card text-white">
            <div class="story__cat">
                <h4 class="B1S3_cat__title___NXs1" style="margin-left: 10px; margin-top: 8px;">Notification</h4>
            </div>
            <h2 style="font-size: 28px;" class=""><a
                    style="color: black; font-weight: bold; text-decoration: none; margin-left: 10px;"
                    title="HTET 2023 admit card released | Steps to download"
                    href="">
                    HTET 2023 admit card released | Steps to download</a></h2>
            <div class="B1S3_story__shortcont__inicf">
                <p style="color: black; margin-left: 10px;">The Board of School Education, Haryana, has released the HTET 2023 admit card. Candidates can check the details here.</p>
            
            <img style="height: 396px; border-radius: 0;"
                src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/htet-2023-admit-card-out-254550515-16x9_0.png?VersionId=YJh7NfqS2iTvi.WKGMIw1QnmplDdoKzG&size=690:388"
                class="card-img" alt="...">
                <br><br>
                <div style="border: 1px solid #ddd; border-radius: 0px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: left;">
                    <p style="color: black; margin-left: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;">

                    The Board of School Education, Haryana, has released the admit cards for the upcoming Haryana Teacher Eligibility Test (HTET) 2023 examination. Candidates who have registered for HTET 2023 can visit the official website of the state board, i.e., bseh.org.in, to check and download their respective admit cards. The board released the admit cards on November 24.<br><br>

                    As per the information, the board has scheduled the HTET 2023 examination for December 2 and 3. The Level 3 examination will be held on December 2, from 3 pm to 5:30 pm. The Level 2 examination will be held on December 3, 2023, from 10 am to 12:30 pm and the Level 1 examination will be held on December 3 from 3 pm to 5:30 pm.<br><br>

                    The registration process for HTET 2023 concluded on November 11, 2023.<br><br>
                    
                    <b style="color: red;">*HOW TO DOWNLOAD*</b><br><br>
                                    
                    To download the HTET 2023 admit cards, candidates can follow these steps: <br>
                    
                    Step 1: Visit the official website, i.e., bseh.org.in.<br>

                    Step 2: On the homepage, click the 'HTET 2023 admit card' link.<br>

                    Step 3: A new page will appear on the screen.<br>

                    Step 4: Enter the asked credentials and click on submit.<br>

                    Step 5: Your admit card will appear on the screen.<br>

                    Step 6: Download your admit card and take a printout of it for future reference.<br><br>
                    
                    Candidates can click here for the direct link to download the HTET 2023 admit card. For more details, candidates are requested to visit the official website of the board.<br><br>
                    
                    The HTET 2023 examination will be conducted on December 2 and 3, 2023. On December 2 the exam will be held from 3 pm to 5: 30 pm and on December 3 the examination will be held from 10 am to 12:30 pm and from 3 pm to 5:30 pm.<br><br>
                    
            <br><br><br>
            <i style="color: gray;">Published By:Aman Singh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                Published On: Nov 24, 2023</i></p>
            </div>
            </div>
        </div>
        <div>

            <!-- Recommend Widget -->
            <div style="width: 300px; ">
                <div class="card mb-4 border-0">

                    <div class="card-body">
                        <h5 style="color: mediumslateblue;" class="card-header border-0 bg-white"><i class="fa-solid fa-up-right-from-square"></i>&nbsp;&nbsp;<b>Recommended</b></h5>
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/bryanna-cook-253453879-16x9_0.png?VersionId=OOunpsIAPXnqRXPGAi4RiIUyKpPxIlSC&size=690:388"
                            alt="" width="420px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">6-year-old US girl honoured for bravery after her 911 call saves mother's life</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/mississippi-bryanna-cook-lowndes-county-bravery-911-emergency-responders-2467562-2023-11-25">investing.com</a>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/joe-biden-vacations-in-nantucket-252744185-1x1.jpg?VersionId=pdYS7G.c9DIUPmCFeqFo_eaHjrK8oi9I&size=115:115"
                            alt="" width="270px" height="150px" style="border-radius: 0;"><br>
                        <p style="font-family: Arial, Helvetica, sans-serif;">Family lunch, shopping, a Christmas tree lighting: Biden's day out in Nantucket</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/joe-biden-in-nantucket-family-lunch-shopping-christmas-tree-lighting-2467561-2023-11-25">media.com</a>
                        <br><br>

                        <iframe width="100%" height="180px" class="youtube"
                            src="https://www.youtube.com/embed/0MXzrsCnDXw?feature=shared" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                        <br><br>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/crime-scene-08145880-1x1_1.jpg?VersionId=r6LUBKSsBfm4srtlpmDtx7Khc8cMCanp&size=115:115"
                            alt="" width="270px" height="150px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">Indian student in coma after being assaulted in Australia's Tasmania</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/indian-student-coma-attacked-australia-masters-university-2467522-2023-11-25">investing.com</a>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/sikh-pilgrims-250022358-16x9_0.jpg?VersionId=M7FEy6xLxiV72KTVSv1QFOUKSLnWFYd.&size=690:388"
                            alt="" width="270px" height="150px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">3,000 Indian Sikhs arrive in Pakistan for Guru Nanak Jayanti celebrations</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/india/story/guru-nanak-jayanti-celebrations-indian-sikhs-arrive-pakistan-lahore-border-2467551-2023-11-25">media.com</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div>
        <div class="footer-area  ">
            <div style="background-color: rgb(58, 59, 59); padding-top: 20px;" class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">COMPANY</h3>
                            </li>
                            <li class="mb-2"><a href="#">Environment</a></li>
                            <li class="mb-2"><a href="#">Religion</a></li>
                            <li class="mb-2"><a href="#">Fashion</a></li>
                            <li class="mb-2"><a href="#">Terrorism</a></li>
                            <li class="mb-2"><a href="#">Conflicts</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">PRODUCT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Medical Research</a></li>
                            <li class="mb-2"><a href="#">Children s Health</a></li>
                            <li class="mb-2"><a href="#">Around the World</a></li>
                            <li class="mb-2"><a href="#">Ad Choices</a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">T & C</h3>
                            </li>
                            <li class="mb-2"><a href="#">Commercial</a></li>
                            <li class="mb-2"><a href="#">Find A Home</a></li>
                            <li class="mb-2"><a href="#">Mortgage Calculator</a></li>
                            <li class="mb-2"><a href="#">My Real Estate</a></li>
                            <li class="mb-2"><a href="#">The High End</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot"> LINK</h3>
                            </li>
                            <li class="mb-2"><a href="#">Politics</a></li>
                            <li class="mb-2"><a href="#">Opinion</a></li>
                            <li class="mb-2"><a href="#">N.Y.</a></li>
                            <li class="mb-2"><a href="#">Science</a></li>
                            <li class="mb-2"><a href="#">Business</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">CONTENT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Arts</a></li>
                            <li class="mb-2"><a href="#">Style</a></li>
                            <li class="mb-2"><a href="#">Food</a></li>
                            <li class="mb-2"><a href="#">Travel</a></li>



                        </ul>
                    </div>
                    <div class="col d-none d-lg-block">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">MEDIA</h3>
                            </li>
                            <li class="mb-2"><a href="#">Basketball</a></li>
                            <li class="mb-2"><a href="#">Football: College</a></li>
                            <li class="mb-2"><a href="#">Football: N.F.L.</a></li>

                            <li class="mb-2"><a href="#">Hockey</a></li>
                            <li class="mb-2"><a href="#">Soccer</a></li>

                        </ul>

                    </div>
                </div>
                <div
                    style="display: flex; padding-top: 20px;padding-bottom: 20px; background-color: rgb(103, 102, 102);">
                    <i class="fa-brands fa-facebook" style="color: #4887f3; margin-left: 10px; font-size: 30px;"> </i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Facebook</h3>
                    <i class="fa-brands fa-twitter" style="color: #479ef6; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Twitter</h3>
                    <i class="fa-brands fa-youtube" style="color: #f83030; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">YouTube</h3>
                    <i class="fa-regular fa-copyright" style="color: #ffffff; margin-left: 100px ;font-size: 30px;"></i>
                    <h5 style="color: white;">TheDailyBrief free news website - All Rights Reserved</h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

    