<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        li {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: rgb(162, 163, 161);
        }

        .foot {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body style="background-color:rgb(245, 246, 246)">
    <br>
    <div class="container-fluid" style="display: flex;">
        <div class="col-md-2" style=" padding-right: 5px; ">
            <!-- catagory -->
            <div class="card  ">
                <!-- <h5 class="card-header bg-white border-0" style="text-align: center; color: darkslategrey;">Categories</h5> -->
                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <h5 style="color: mediumslateblue;"><i style="padding-right: 7px;"
                                        class="fa-solid fa-bars"></i><b>CATEGORY</b></h5>
                                <li class=" mb-2">
                                    <a routerLink="/entertainment" href="#"
                                        class="text-secondary"><b>ENTERTAINMENT</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/technology" href="#" class="text-secondary"><b>TECHNOLOGY</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/lifestyle" href="#" class="text-secondary"><b>LIFESTYLE</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/political" href="#" class="text-secondary"><b>POLITICAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/sports" href="#" class="text-secondary"><b>SPORTS</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/spiritual" href="#" class="text-secondary"><b>SPIRITUAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/education" href="#" class="text-secondary"><b>EDUCATION</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advertisement -->
            <div style="border-radius: 5px; text-align: center; margin-top: 10px; padding: 5px;">
                <h6 style="color:rgb(236, 86, 60);background-color:white ;">Advertisement</h6>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35744430.jpg" alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://psddaddy.com/wp-content/uploads/2019/11/Big-brand-Sale-Social-Media-cover.jpg"
                        alt="">
                </div>
            </div>
        </div>


        <div style="padding-bottom: 0px; border: 2px solid white; height: 400px; margin-left: 10px; width: 900px; margin-right: 15px;"
            class="card bg-dark text-white">

            <img style="height: 396px;" src="https://images.indianexpress.com/2024/06/korean-1.jpg?w=640"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h3 class="card-title" style="padding-top: 200px;">How Korean food evolved in India ‘beyond the initial
                    popularity of ramen’</h3>
                <p class="card-text">Dishes like kimchi, spicy ramen, bibimbap, and tteokbokki have seen the most
                    notable rise in popularity.</p>
                <p class="card-text">Updated : June 14, 2024 23:22 IST</p>
            </div><br>
            <div
                style="border: 1px solid #ddd; border-radius: 0px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: left;">
                <p
                    style="color: black; margin-left: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;">

                    The Korean cultural phenomenon has been sweeping across India, captivating millions with its
                    electrifying music, trendsetting fashion, and, of course, delicious food. Popularised mainly by
                    Korean television series, also known as K-dramas, Korean food has enchanted Indians people with its
                    unique taste, spiciness and fresh ingredients.<br><br>
                    
                    <b>Rise in demand and evolution of Korean food in India</b><br><br>

                    What began as a niche interest has since blossomed into a full-fledged cultural phenomenon, with
                    Korean food rapidly gaining mainstream acceptance throughout India. “The popularity of K-dramas in
                    India has significantly increased the demand for Korean food, driven by the portrayal of Korean
                    cuisine in these shows,” says Garima Dev Verman, certified nutritionist and medical content analyst
                    with The Healthy Indian Project (THIP).<br><br>

                    While ramen may have been the initial gateway to Korean cuisine for many Indians, lesser-known
                    dishes like kimchi, spicy ramen, bibimbap, buldak and tteokbokki have seen notable rise in
                    popularity. “The global Hallyu wave, encompassing Korean pop culture including K-pop music, has
                    further amplified interest in all things Korean, their food too,” she said.<br><br>

                    At the forefront of this culinary revolution is the growing number of Korean restaurants, each
                    striving to introduce authentic flavours and techniques to the Indian palate. Influencers and
                    celebrities sharing their experiences with Korean cuisine “have also played a crucial role,”
                    according to Verman.<br>

                    <i style="color: gray;">Published By: Swarupa Tripathy
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Published On: 14-06-2024 at 15:37 IST</i>
                </p>
            </div>

        </div>
        <div>

            <!-- Search Widget -->
            <div style="width: 300px; ">
                <div class="card mb-4 border-0">

                    <div class="card-body">
                        <form name="search" action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="searchtitle" class="form-control rounded-0"
                                    placeholder="Search for..." required="">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit"> <i class="fa fa-search"></i></button>
                                </span>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 border-0">
                    <h5 style="color: darkslateblue;" class="card-header border-0 bg-white"><i
                            class="fa-solid fa-arrow-up-right-dots"></i>&nbsp; <b>Recent News
                        </b>
                    </h5>
                    <div class="card-body">
                        <ul class="mb-0 list-unstyled">
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-11/ea131j3_rafah-crossing_625x300_05_November_23.jpg?im=FitAndFill,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/evacuations-of-gazans-through-rafah-crossing-suspended-since-yesterday-report-4547657"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-11/euitcgmc_sarita-singh_120x90_04_November_23.jpg"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/nalgad-civic-body-deputy-chief-sarita-singh-killed-in-nepal-earthquake-4544325"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-10/ijbicas_israeli-tank-in-gaza-reuters_625x300_31_October_23.jpg?im=FeatureCrop,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/israel-hamas-war-palestine-gaza-300-targets-hit-in-a-day-israels-latest-update-on-war-with-hamas-4530622"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-10/nc8grpo8_maratha-quota-violece_625x300_31_October_23.jpg?im=FeatureCrop,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/india-news/maharashtra-gatherings-banned-in-beed-dharashiv-after-violence-over-maratha-quota-protests-4530035"
                                    class="text-dark font-weight-bold">
                                    <i>Gatherings Banned In Maharashtra Districts After Violence During Maratha Quota
                                        Protests</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://i.gadgets360cdn.com/large/crypto_thumbnail_alesia_kozik_pexels_small_1637583481486.jpg"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.gadgets360.com/cryptocurrency/news/bitcoin-price-today-october-16-monday-ether-dogecoin-value-buy-4484783"
                                    class="text-dark font-weight-bold">
                                    <i>Crypto Price Today: Bitcoin Trades Above $27,000, Ether and Solana See
                                        Recoveries</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 border-0">
                    <h5 style="color: darkslateblue;" class="card-header border-0 bg-white"><i
                            class="fa-solid fa-up-right-from-square"></i>&nbsp;<b>International</b>
                    </h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/cut-gaza-strip-into-two-says-israel-amid-significant-strikes-4548657"
                                    class="text-dark font-weight-bold">
                                    <b>1.</b> Cut Gaza Strip Into Two, Says Israel Amid "Significant Strikes"</a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/india-news/using-mahadevs-name-to-loot-himanta-sarmas-swipe-at-bhupesh-baghel-4548634"
                                    class="text-dark font-weight-bold">
                                    <b>2.</b> Using Mahadev's Name To "Loot": HImanta Sarma's Swipe At Bhupesh
                                    Baghel</a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/european-jews-today-are-again-living-in-fear-eu-commission-4548617"
                                    class="text-dark font-weight-bold">
                                    <b>3.</b> "European Jews Today Are Again Living In Fear": EU Commission </a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/blinken-says-palestinian-authority-should-have-key-role-in-gazas-future-4548589"
                                    class="text-dark font-weight-bold">
                                    <b>4.</b> Blinken Says Palestinian Authority Should Have Key Role In Gaza's
                                    Future</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div>
        <div class="footer-area  ">
            <div style="background-color: rgb(58, 59, 59); padding-top: 20px;" class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">COMPANY</h3>
                            </li>
                            <li class="mb-2"><a href="#">Environment</a></li>
                            <li class="mb-2"><a href="#">Religion</a></li>
                            <li class="mb-2"><a href="#">Fashion</a></li>
                            <li class="mb-2"><a href="#">Terrorism</a></li>
                            <li class="mb-2"><a href="#">Conflicts</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">PRODUCT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Medical Research</a></li>
                            <li class="mb-2"><a href="#">Children s Health</a></li>
                            <li class="mb-2"><a href="#">Around the World</a></li>
                            <li class="mb-2"><a href="#">Ad Choices</a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">T & C</h3>
                            </li>
                            <li class="mb-2"><a href="#">Commercial</a></li>
                            <li class="mb-2"><a href="#">Find A Home</a></li>
                            <li class="mb-2"><a href="#">Mortgage Calculator</a></li>
                            <li class="mb-2"><a href="#">My Real Estate</a></li>
                            <li class="mb-2"><a href="#">The High End</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot"> LINK</h3>
                            </li>
                            <li class="mb-2"><a href="#">Politics</a></li>
                            <li class="mb-2"><a href="#">Opinion</a></li>
                            <li class="mb-2"><a href="#">N.Y.</a></li>
                            <li class="mb-2"><a href="#">Science</a></li>
                            <li class="mb-2"><a href="#">Business</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">CONTENT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Arts</a></li>
                            <li class="mb-2"><a href="#">Style</a></li>
                            <li class="mb-2"><a href="#">Food</a></li>
                            <li class="mb-2"><a href="#">Travel</a></li>



                        </ul>
                    </div>
                    <div class="col d-none d-lg-block">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">MEDIA</h3>
                            </li>
                            <li class="mb-2"><a href="#">Basketball</a></li>
                            <li class="mb-2"><a href="#">Football: College</a></li>
                            <li class="mb-2"><a href="#">Football: N.F.L.</a></li>

                            <li class="mb-2"><a href="#">Hockey</a></li>
                            <li class="mb-2"><a href="#">Soccer</a></li>

                        </ul>

                    </div>
                </div>
                <div
                    style="display: flex; padding-top: 20px;padding-bottom: 20px; background-color: rgb(103, 102, 102);">
                    <i class="fa-brands fa-facebook" style="color: #4887f3; margin-left: 10px; font-size: 30px;"> </i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Facebook</h3>
                    <i class="fa-brands fa-twitter" style="color: #479ef6; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Twitter</h3>
                    <i class="fa-brands fa-youtube" style="color: #f83030; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">YouTube</h3>
                    <i class="fa-regular fa-copyright" style="color: #ffffff; margin-left: 100px ;font-size: 30px;"></i>
                    <h5 style="color: white;">TheDailyBrief free news website - All Rights Reserved</h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>