<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        li {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: rgb(162, 163, 161);
        }

        .foot {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body style="background-color:rgb(245, 246, 246)">
    <div>
        <br><br>
    </div>
    <div class="container-fluid" style="display: flex;">
        <div class="col-md-2" style=" padding-right: 5px; ">
            <!-- catagory -->
            <div class="card  ">
                <!-- <h5 class="card-header bg-white border-0" style="text-align: center; color: darkslategrey;">Categories</h5> -->
                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <h5 style="color: mediumslateblue;"><i style="padding-right: 7px;"
                                        class="fa-solid fa-bars"></i><b>CATEGORY</b></h5>
                                <li class=" mb-2">
                                    <a routerLink="/entertainment" href="#"
                                        class="text-secondary"><b>ENTERTAINMENT</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/technology" href="#" class="text-secondary"><b>TECHNOLOGY</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/lifestyle" href="#" class="text-secondary"><b>LIFESTYLE</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/political" href="#" class="text-secondary"><b>POLITICAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/sports" href="#" class="text-secondary"><b>SPORTS</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/spiritual" href="#" class="text-secondary"><b>SPIRITUAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/education" href="#" class="text-secondary"><b>EDUCATION</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advertisement -->
            <div style="border-radius: 5px; text-align: center; margin-top: 10px; padding: 5px;">
                <h6 style="color:rgb(236, 86, 60);background-color:white ;">Advertisement</h6>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35744430.jpg" alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://psddaddy.com/wp-content/uploads/2019/11/Big-brand-Sale-Social-Media-cover.jpg"
                        alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://static.picmaker.com/scene-prebuilts/thumbnails/b5364d71-c1b8-4ba0-a74f-82d18589d4cb.png"
                        alt="">
                </div><br>
                
                <div>
                        <iframe width="200px" height="130px" class="youtube"
                            src="https://www.youtube.com/embed/oy9B2YELDYE?feature=shared" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                        <br><br>
                    </div>
            </div>
        </div>
        <!-- Madhuri Dixit -->

        <div style="padding-bottom: 0px; border: 2px solid white; height: 400px; margin-left: 10px; width: 900px; margin-right: 15px; border: 1px solid #ddd; border-radius: 8px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
            class="card text-white">
            <div class="story__cat">
                <h4 class="B1S3_cat__title___NXs1" style="margin-left: 10px;">Bollywood</h4>
            </div>
            <h2 style="font-size: 28px;" class=""><a
                    style="color: black; font-weight: bold; text-decoration: none; margin-left: 10px;"
                    title="Salman Khan hints at 'Tiger 4' at ICC World Cup 2023: Now wait..."
                    href="">
                    Salman Khan hints at 'Tiger 4' at ICC World Cup 2023: Now wait...</a></h2>
            <div class="B1S3_story__shortcont__inicf">
                <p style="color: black; margin-left: 10px;">Bollywood star Salman Khan apparently hinted at the next installment of the 'Tiger' franchise while he was speaking at the sidelines of ICC World Cup 2023.</p>
            </div>
            <img style="height: 396px; border-radius: 0;"
                src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/salman-khan-and-katrina-kaif-200119301-16x9_0.jpg?VersionId=LDnkezzFCxwPuANoB930L3DMRK5wj0bS&size=690:388"
                class="card-img" alt="...">
                <br><br>

                <div style="border: 1px solid #ddd; border-radius: 0px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: left;">
                <p style="color: black; margin-left: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;">

                    <b style="color: darkblue;">In Short</b><br><br>

                    1.Salman Khan seemingly confirmed 'Tiger 4' while speaking at the sidelines of ICC World Cup 2023.<br>
                    2.Salman Khan joked about the next 'Tiger' film while speaking to announcers at the ICC World Cup 2023.<br>
                    3.Salman Khan and Katrina Kaif were last seen in Maneesh Sharma's 'Tiger 3' together.<br><br>

                    Bollywood star Salman Khan apparently seemed to confirm the next installment of the actioner Tiger at the ICC World Cup 2023.<br><br>

                    <b>SALMAN HINTS AT TIGER 4</b><br><br>

                    Speaking at the sidelines of the event, Salman hinted at the possibility of another film as Katrina was praising cricketer Virat Kohli.<br><br>

                    In a video that is now being widely circulated on the internet, Katrina could be heard saying, “Watching Virat when he started playing IPL for RCB, from then until now just look at the journey and the graph." Salman then chimed in to add, "And, you also saw 
                    from Tiger 1 to Tiger 3 na and that too at 57. Now wait for Tiger 4 at 60,” as Katrina let out a laugh. <br><br>

                    <b>KATRINA ON VIRAT AND ANUSHKA'S RELATIONSHIP</b><br><br>  

                    Later, Katrina also praised Anushka Sharma and Virat Kohli's relationship: "They (Virat Kohli and Anushka Sharma) are such wonderful support to each other. You can see whenever Virat is playing, there is joy on her (Anushka’s) face, it’s beautiful to see that,” IANS quoted Katrina as saying.<br><br>

                    Salman and Katrina's latest project, Tiger 3, has minted Rs 300 crore globally till now.<br>

                    Katrina is now looking forward to the release of her next film, Merry Christmas, where she will be seen starring opposite Vijay Sethupathi. <br>

                    <br><br><br><br>
                <i style="color: gray;">Published By:Anvita Singh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                Published On: Nov 20, 2023</i></p>
                </div>
    </div>
    <div>

        <!-- Recommend Widget -->
        <div style="width: 300px; ">
            <div class="card mb-4 border-0">

                <div class="card-body">
                    <h5 style="color: mediumslateblue;" class="card-header border-0 bg-white"><i class="fa-solid fa-up-right-from-square"></i>&nbsp;&nbsp;<b>Recommended</b></h5>
                    <img src="https://magazine.education.investing.com/wp-content/uploads/2021/09/Untitled-design-2022-07-18T170328.202.jpg"
                        alt="" width="420px">
                    <p style="font-family: Arial, Helvetica, sans-serif;">Commonly Eaten Foods That Are Bad for Your
                        Health and Your Wallet</p>
                    <a style="color: rgb(129, 120, 120); text-decoration: none;"
                        href="https://za.investing.com/magazine/commonly-eaten-foods-that-are-bad-for-your-health/?utm_source=taboola&utm_medium=cpm&utm_campaign=30693151&utm_term=indiatoday-indiatoday&origin=taboola&tp[click_id]=GiCc49CUVPsYNS-mFxupCtLwXuRhQ8hz7QSH-Q0GKWnU3iDn8mEooJPJ0ZCRwryBAQ&tp[site_id]=1006886&tp[site]=indiatoday-indiatoday&tp[ts]=2023-11-20+21%3A26%3A26&tp[campaign_id]=30693151&tp[ad_id]=3875477990&tp[cpc]=0.0522&im_dars=1x100_3x130_5x161_7x427#tblciGiCc49CUVPsYNS-mFxupCtLwXuRhQ8hz7QSH-Q0GKWnU3iDn8mEooJPJ0ZCRwryBAQ">investing.com</a>

                    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/anushka-sharma-192614648-16x9_0.jpg?VersionId=2GO9GckDzXI9hweNTaM9ria4wek0.iUc&size=690:388"
                        alt="" width="270px">
                    <p style="font-family: Arial, Helvetica, sans-serif;">Anushka Sharma’s dress for India vs
                        Australia World Cup Final costs Rs…</p>
                    <a style="color: rgb(129, 120, 120); text-decoration: none;"
                        href="https://www.indiatoday.in/lifestyle/fashion/story/anushka-sharma-wears-printed-loose-dress-for-india-vs-australia-world-cup-final-virat-kohli-its-cost-2464888-2023-11-19?utm_source=taboola&utm_medium=recirculation">media.com</a>
                    <br><br>

                    <iframe width="100%" height="180px" class="youtube"
                        src="https://www.youtube.com/embed/6hTmWp6CFd4?si=06ZQVmU_pYrNtTnn" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
                    <br><br>

                    <img src="https://magazine.education.investing.com/wp-content/uploads/2021/12/Article-Image-FutureAircrafts-Aerion-AS2.jpg"
                        alt="" width="270px">
                    <p style="font-family: Arial, Helvetica, sans-serif;">Million-Dollar Future Aircraft Soon
                        Hitting The Skies</p>
                    <a style="color: rgb(129, 120, 120); text-decoration: none;"
                        href="https://za.investing.com/magazine/million-dollar-future-aircrafts-soon-hitting-the-skies/?utm_source=taboola&utm_medium=cpm&utm_campaign=30058495&utm_term=indiatoday-indiatoday&origin=taboola&tp[click_id]=GiCc49CUVPsYNS-mFxupCtLwXuRhQ8hz7QSH-Q0GKWnU3iDn8mEos42WzfK_y699&tp[site_id]=1006886&tp[site]=indiatoday-indiatoday&tp[ts]=2023-11-20+21%3A40%3A13&tp[campaign_id]=30058495&tp[ad_id]=3861564461&tp[cpc]=0.0404&im_dars=1x100_3x128_5x815_7x615#tblciGiCc49CUVPsYNS-mFxupCtLwXuRhQ8hz7QSH-Q0GKWnU3iDn8mEos42WzfK_y699">investing.com</a>

                    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/miss-universe-2023-191855969-16x9_0.png?VersionId=DZ0yVJJoRiP2wxpXNS9O0GhmQRNPBxsO&size=690:388"
                        alt="" width="270px">
                    <p style="font-family: Arial, Helvetica, sans-serif;">Miss Universe 2023: Six participants who
                        created history at the beauty pageant</p>
                    <a style="color: rgb(129, 120, 120); text-decoration: none;"
                        href="https://www.indiatoday.in/lifestyle/celebrity/story/miss-universe-2023-six-participants-who-created-history-at-the-beauty-pageant-2464762-2023-11-19?utm_source=taboola&utm_medium=recirculation">media.com</a><br><br>
                </div>
                
            </div>
        </div>
    </div>
    </div>
<!-- footer -->
<div>
    <div class="footer-area  ">
        <div style="background-color: rgb(58, 59, 59); padding-top: 20px;" class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot">COMPANY</h3>
                        </li>
                        <li class="mb-2"><a href="#">Environment</a></li>
                        <li class="mb-2"><a href="#">Religion</a></li>
                        <li class="mb-2"><a href="#">Fashion</a></li>
                        <li class="mb-2"><a href="#">Terrorism</a></li>
                        <li class="mb-2"><a href="#">Conflicts</a></li>


                    </ul>
                </div>
                <div class="col">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot">PRODUCT</h3>
                        </li>
                        <li class="mb-2"><a href="#">Medical Research</a></li>
                        <li class="mb-2"><a href="#">Children s Health</a></li>
                        <li class="mb-2"><a href="#">Around the World</a></li>
                        <li class="mb-2"><a href="#">Ad Choices</a></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot">T & C</h3>
                        </li>
                        <li class="mb-2"><a href="#">Commercial</a></li>
                        <li class="mb-2"><a href="#">Find A Home</a></li>
                        <li class="mb-2"><a href="#">Mortgage Calculator</a></li>
                        <li class="mb-2"><a href="#">My Real Estate</a></li>
                        <li class="mb-2"><a href="#">The High End</a></li>


                    </ul>
                </div>
                <div class="col">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot"> LINK</h3>
                        </li>
                        <li class="mb-2"><a href="#">Politics</a></li>
                        <li class="mb-2"><a href="#">Opinion</a></li>
                        <li class="mb-2"><a href="#">N.Y.</a></li>
                        <li class="mb-2"><a href="#">Science</a></li>
                        <li class="mb-2"><a href="#">Business</a></li>


                    </ul>
                </div>
                <div class="col">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot">CONTENT</h3>
                        </li>
                        <li class="mb-2"><a href="#">Arts</a></li>
                        <li class="mb-2"><a href="#">Style</a></li>
                        <li class="mb-2"><a href="#">Food</a></li>
                        <li class="mb-2"><a href="#">Travel</a></li>



                    </ul>
                </div>
                <div class="col d-none d-lg-block">
                    <ul class="float-left list-unstyled ">
                        <li class="mb-2">
                            <h3 class="foot">MEDIA</h3>
                        </li>
                        <li class="mb-2"><a href="#">Basketball</a></li>
                        <li class="mb-2"><a href="#">Football: College</a></li>
                        <li class="mb-2"><a href="#">Football: N.F.L.</a></li>

                        <li class="mb-2"><a href="#">Hockey</a></li>
                        <li class="mb-2"><a href="#">Soccer</a></li>

                    </ul>

                </div>
            </div>
            <div
                style="display: flex; padding-top: 20px;padding-bottom: 20px; background-color: rgb(103, 102, 102);">
                <i class="fa-brands fa-facebook" style="color: #4887f3; margin-left: 10px; font-size: 30px;"> </i>
                <h3 style="color: aliceblue; margin-left: 9px;">Facebook</h3>
                <i class="fa-brands fa-twitter" style="color: #479ef6; margin-left: 30px; font-size: 30px;"></i>
                <h3 style="color: aliceblue; margin-left: 9px;">Twitter</h3>
                <i class="fa-brands fa-youtube" style="color: #f83030; margin-left: 30px; font-size: 30px;"></i>
                <h3 style="color: aliceblue; margin-left: 9px;">YouTube</h3>
                <i class="fa-regular fa-copyright" style="color: #ffffff; margin-left: 100px ;font-size: 30px;"></i>
                <h5 style="color: white;">TheDailyBrief free news website - All Rights Reserved</h5>
            </div>
        </div>
    </div>
</div>

</body>

</html>