li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(162, 163, 161);
}

.foot {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
text{
    color: cornsilk;
}