.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h4 {
    font-family: Papyrus, sans-serif;
    font-weight: bold;
    padding-left: 70px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  table {
    margin-top: 20px;
  }
  