<section class="logo">
    <span>News.com</span>
    <span>Developed by <br> Rohan Ankalkote</span>
</section>
<section class="links">
    <ul class="site-info">
        <li>About Us</li>
        <li>Privacy</li>
        <li>Policy</li>
        <li>Support</li>
    </ul>
    <ul class="other">
        <li>Videos</li>
        <li>Books</li>
        <li>Graphics</li>
        <li>Audios</li>
    </ul>
</section>
<section class="contact-info">
    <span class="number">
        +91 7757869131
    </span>
    <span class="email">
        contact@ankalkote.com
    </span>
    <span class="website">
        <a href="#">www.ankalkote.com</a>
    </span>
</section>