<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        li {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: rgb(162, 163, 161);
        }

        .foot {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body style="background-color:rgb(245, 246, 246)">
    <div>
        <br><br>
    </div>
    <div class="container-fluid" style="display: flex;">
        <div class="col-md-2" style=" padding-right: 5px; ">
            <!-- catagory -->
            <div class="card  ">
                <!-- <h5 class="card-header bg-white border-0" style="text-align: center; color: darkslategrey;">Categories</h5> -->
                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <h5 style="color: mediumslateblue;"><i style="padding-right: 7px;"
                                        class="fa-solid fa-bars"></i><b>CATEGORY</b></h5>
                                <li class=" mb-2">
                                    <a routerLink="/entertainment" href="#"
                                        class="text-secondary"><b>ENTERTAINMENT</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/technology" href="#" class="text-secondary"><b>TECHNOLOGY</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/lifestyle" href="#" class="text-secondary"><b>LIFESTYLE</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/political" href="#" class="text-secondary"><b>POLITICAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/sports" href="#" class="text-secondary"><b>SPORTS</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/spiritual" href="#" class="text-secondary"><b>SPIRITUAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/education" href="#" class="text-secondary"><b>EDUCATION</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advertisement -->
            <div style="border-radius: 5px; text-align: center; margin-top: 10px; padding: 5px;">
                <h6 style="color:rgb(236, 86, 60);background-color:white ;">Advertisement</h6>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSeCdVmBBAOE7uxf0IdbwdlQLC3C93s6p3dQ&usqp=CAU"
                        alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRieMUAxfhVz3YU8VoufvDEwj5pfjZH0QdasQ&usqp=CAU"
                        alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYtz4syzr88x0uEWFnjhxEfgjQdhx6SlZudg&usqp=CAU"
                        alt="">
                </div>
                <div>
                    <img style="width: 220px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MU8wT3n4hShMCa3ZZVUyFrjjbKplTyg7-ZGjRYBxil5Vux5UZmfZv048ZOrbTw4dSmU&usqp=CAU"
                        alt="">
                </div><br>
                <div>
                    <iframe width="220px" height="140px" class="youtube"
                        src="https://www.youtube.com/embed/bCHgWKPUnXc?feature=shared" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
                    <br>
                </div>

            </div>
        </div>

        <div style="padding-bottom: 0px; border: 2px solid white; height: 400px; margin-left: 10px; width: 900px; margin-right: 15px; border: 1px solid #ddd; border-radius: 8px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
            class="card text-white">
            <div class="story__cat">
                <h4 class="B1S3_cat__title___NXs1" style="margin-left: 10px; margin-top: 8px;">Notification</h4>
            </div>
            <h2 style="font-size: 28px;" class=""><a
                    style="color: black; font-weight: bold; text-decoration: none; margin-left: 10px;" title="
                    MHT CET 2024 Result: Maharashtra Common Entrance Test Scorecards To Be Out Soon" href="">
                    MHT CET 2024 Result: Maharashtra Common Entrance Test &nbsp;Scorecards To Be Out Soon</a></h2>
            <div class="B1S3_story__shortcont__inicf">
                <p style="color: black; margin-left: 10px;">MHT CET 2024 Results: After the results are announced, the
                    MHT CET counselling process will commence, consisting of three Centralised Admission Process (CAP)
                    rounds. </p>

                <img style="height: 396px; border-radius: 0;"
                    src="https://i.ndtvimg.com/i/2018-02/cbse-exams_650x400_41519386808.jpg?im=FaceCrop,algorithm=dnn,width=773,height=435"
                    class="card-img" alt="...">
                <br><br>
                <div
                    style="border: 1px solid #ddd; border-radius: 0px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: left;">
                    <p
                        style="color: black; margin-left: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;">

                        MHT CET 2024: The State Common Entrance Test Cell (MHT CET), Maharashtra, will declare the MHT
                        CET result 2024 by this evening. Those who appeared in the examination can access their results
                        by visiting the official website - cetcell.mahacet.org.<br><br>

                        <b>MHT CET 2024 Results And Counselling Process</b><br><br>

                        To access their results, examinees must log in using their application number and password.
                        After the results are announced, the MHT CET counselling process will commence, consisting of
                        three Centralised Admission Process (CAP) rounds. Each CAP round will release seat intake
                        details for BTech and BPharma courses in various participating colleges across Maharashtra.<br><br>

                        The MHT CET examination is conducted for students seeking admission to engineering and pharmacy
                        programmes. Students must choose either PCM (Physics, Chemistry, Mathematics) or PCB (Physics,
                        Chemistry, Biology) as their subjects. The exam format differs for each group, and specific
                        patterns for PCM and PCB can be found on the official website.<br><br>
                        
                        <b>MHT CET 2024 Results: Steps To Check</b><br><br>

                        Go to the official websites: cetcell.mahacet.org, mahacet.in, or mahacet.org.<br>
                        Select the link to the results.<br>
                        Enter your application number, date of birth, and security pin.<br>
                        Check and download the results for future reference.<br>

                        In the previous year, Pune had the highest number of top scorers, with 7 students from the
                        district. Mumbai City followed with 5 top scorers, while Thane secured third place with 3 top
                        scorers.<br><br>

                        <b>MHT CET 2024 Result Statistics: Highlights From Last Year</b><br><br>

                        Last year's MHT CET 2024 saw a total of 3,33,041 PCM group candidates registered, with 3,13,730
                        appearing for the exam. For the PCB group, 3,03,048 candidates registered, and 2,77,400
                        appeared. Overall, the examination had 6,36,089 candidates registered, out of which 5,91,130
                        appeared, resulting in an overall attendance rate of 92.93%..<br>
    
                        <i style="color: gray;">Published By:Rahul Kumar
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Published On: 16 June, 2024 12:03 IST</i>
                    </p>
                </div>
            </div>
        </div>
        <div>

            <!-- Recommend Widget -->
            <div style="width: 300px; ">
                <div class="card mb-4 border-0">

                    <div class="card-body">
                        <h5 style="color: mediumslateblue;" class="card-header border-0 bg-white"><i
                                class="fa-solid fa-up-right-from-square"></i>&nbsp;&nbsp;<b>Recommended</b></h5>
                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/bryanna-cook-253453879-16x9_0.png?VersionId=OOunpsIAPXnqRXPGAi4RiIUyKpPxIlSC&size=690:388"
                            alt="" width="420px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">6-year-old US girl honoured for
                            bravery after her 911 call saves mother's life</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/mississippi-bryanna-cook-lowndes-county-bravery-911-emergency-responders-2467562-2023-11-25">investing.com</a>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/joe-biden-vacations-in-nantucket-252744185-1x1.jpg?VersionId=pdYS7G.c9DIUPmCFeqFo_eaHjrK8oi9I&size=115:115"
                            alt="" width="270px" height="150px" style="border-radius: 0;"><br>
                        <p style="font-family: Arial, Helvetica, sans-serif;">Family lunch, shopping, a Christmas
                            tree lighting: Biden's day out in Nantucket</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/joe-biden-in-nantucket-family-lunch-shopping-christmas-tree-lighting-2467561-2023-11-25">media.com</a>
                        <br><br>

                        <iframe width="100%" height="180px" class="youtube"
                            src="https://www.youtube.com/embed/0MXzrsCnDXw?feature=shared" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                        <br><br>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/crime-scene-08145880-1x1_1.jpg?VersionId=r6LUBKSsBfm4srtlpmDtx7Khc8cMCanp&size=115:115"
                            alt="" width="270px" height="150px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">Indian student in coma after being
                            assaulted in Australia's Tasmania</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/world/story/indian-student-coma-attacked-australia-masters-university-2467522-2023-11-25">investing.com</a>

                        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202311/sikh-pilgrims-250022358-16x9_0.jpg?VersionId=M7FEy6xLxiV72KTVSv1QFOUKSLnWFYd.&size=690:388"
                            alt="" width="270px" height="150px" style="border-radius: 0;">
                        <p style="font-family: Arial, Helvetica, sans-serif;">3,000 Indian Sikhs arrive in Pakistan
                            for Guru Nanak Jayanti celebrations</p>
                        <a style="color: rgb(129, 120, 120); text-decoration: none;"
                            href="https://www.indiatoday.in/india/story/guru-nanak-jayanti-celebrations-indian-sikhs-arrive-pakistan-lahore-border-2467551-2023-11-25">media.com</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div>
        <div class="footer-area  ">
            <div style="background-color: rgb(58, 59, 59); padding-top: 20px;" class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">COMPANY</h3>
                            </li>
                            <li class="mb-2"><a href="#">Environment</a></li>
                            <li class="mb-2"><a href="#">Religion</a></li>
                            <li class="mb-2"><a href="#">Fashion</a></li>
                            <li class="mb-2"><a href="#">Terrorism</a></li>
                            <li class="mb-2"><a href="#">Conflicts</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">PRODUCT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Medical Research</a></li>
                            <li class="mb-2"><a href="#">Children s Health</a></li>
                            <li class="mb-2"><a href="#">Around the World</a></li>
                            <li class="mb-2"><a href="#">Ad Choices</a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">T & C</h3>
                            </li>
                            <li class="mb-2"><a href="#">Commercial</a></li>
                            <li class="mb-2"><a href="#">Find A Home</a></li>
                            <li class="mb-2"><a href="#">Mortgage Calculator</a></li>
                            <li class="mb-2"><a href="#">My Real Estate</a></li>
                            <li class="mb-2"><a href="#">The High End</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot"> LINK</h3>
                            </li>
                            <li class="mb-2"><a href="#">Politics</a></li>
                            <li class="mb-2"><a href="#">Opinion</a></li>
                            <li class="mb-2"><a href="#">N.Y.</a></li>
                            <li class="mb-2"><a href="#">Science</a></li>
                            <li class="mb-2"><a href="#">Business</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">CONTENT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Arts</a></li>
                            <li class="mb-2"><a href="#">Style</a></li>
                            <li class="mb-2"><a href="#">Food</a></li>
                            <li class="mb-2"><a href="#">Travel</a></li>



                        </ul>
                    </div>
                    <div class="col d-none d-lg-block">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">MEDIA</h3>
                            </li>
                            <li class="mb-2"><a href="#">Basketball</a></li>
                            <li class="mb-2"><a href="#">Football: College</a></li>
                            <li class="mb-2"><a href="#">Football: N.F.L.</a></li>

                            <li class="mb-2"><a href="#">Hockey</a></li>
                            <li class="mb-2"><a href="#">Soccer</a></li>

                        </ul>

                    </div>
                </div>
                <div
                    style="display: flex; padding-top: 20px;padding-bottom: 20px; background-color: rgb(103, 102, 102);">
                    <i class="fa-brands fa-facebook" style="color: #4887f3; margin-left: 10px; font-size: 30px;">
                    </i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Facebook</h3>
                    <i class="fa-brands fa-twitter" style="color: #479ef6; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Twitter</h3>
                    <i class="fa-brands fa-youtube" style="color: #f83030; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">YouTube</h3>
                    <i class="fa-regular fa-copyright" style="color: #ffffff; margin-left: 100px ;font-size: 30px;"></i>
                    <h5 style="color: white;">TheDailyBrief free news website - All Rights Reserved</h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>