<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body style="background-color:rgb(245, 246, 246)">
    <div>
        <!-- <h4 style="padding-left: 226px; padding-top: 10px; padding-bottom: 20px;" class="widget-title ">Today Highlight</h4> -->
        <h2 style="text-align: center; color:rgb(20, 107, 220) ; padding: 5px;"><b>
                Live updates
            </b></h2>
    </div>

    <!--  -->
    <div class="container">


        <div style="width: 800px; padding-left: 10px; margin-right: 20px;">
            <h4 style="background-color: rgb(241, 55, 92); color: white ; padding-left: 10px; border-radius: 2px; width: 210px; margin-left: 55px;">
                24x7 Live Stream</h4>
            
                <iframe width="1200px" height="600" style="border: 4px solid white; margin-left: 50px;"
                src="https://www.youtube.com/embed/uswcSlg5T-Q?si=yl5lpx2Lu" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>



        </div>
    </div>






</body>

</html>