<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        li {
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: rgb(162, 163, 161);
        }

        .foot {
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body style="background-color:rgb(245, 246, 246)">
    <br>
    <div class="container-fluid" style="display: flex;">
        <div class="col-md-2" style=" padding-right: 5px; ">
            <!-- catagory -->
            <div class="card  ">
                <!-- <h5 class="card-header bg-white border-0" style="text-align: center; color: darkslategrey;">Categories</h5> -->
                <div style="padding:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                <h5 style="color: mediumslateblue;"><i style="padding-right: 7px;"
                                        class="fa-solid fa-bars"></i><b>CATEGORY</b></h5>
                                <li class=" mb-2">
                                    <a routerLink="/entertainment" href="#"
                                        class="text-secondary"><b>ENTERTAINMENT</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/technology" href="#" class="text-secondary"><b>TECHNOLOGY</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/lifestyle" href="#" class="text-secondary"><b>LIFESTYLE</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/political" href="#" class="text-secondary"><b>POLITICAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/sports" href="#" class="text-secondary"><b>SPORTS</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/spiritual" href="#" class="text-secondary"><b>SPIRITUAL</b></a>
                                </li>
                                <li class=" mb-2">
                                    <a routerLink="/education" href="#" class="text-secondary"><b>EDUCATION</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Advertisement -->
            <div style="border-radius: 5px; text-align: center; margin-top: 10px; padding: 5px;">
                <h6 style="color:rgb(236, 86, 60);background-color:white ;">Advertisement</h6>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX35744430.jpg" alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://psddaddy.com/wp-content/uploads/2019/11/Big-brand-Sale-Social-Media-cover.jpg"
                        alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://static.picmaker.com/scene-prebuilts/thumbnails/b5364d71-c1b8-4ba0-a74f-82d18589d4cb.png"
                        alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://dcassetcdn.com/design_img/1708257/505401/505401_9348563_1708257_bcb6fa3d_image.jpg"
                        alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://thumbs.dreamstime.com/z/pizza-chalkboard-poster-fast-food-design-pizza-chalkboard-poster-template-italian-pizza-menu-sketch-banner-blackboard-99658030.jpg"
                        alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://i.pinimg.com/736x/31/70/a7/3170a718979579879f8a0ef3938eb20b.jpg" alt="">
                </div>
                <div>
                    <img style="width: 200px; border-radius: 2px; border: 2px solid white; margin-top: 10px;"
                        src="https://pbs.twimg.com/media/ETsPLalUYAA2870.jpg" alt="">
                </div>



            </div>
        </div>
        <!-- virat kohali -->



        <div style="padding-bottom: 0px; border: 2px solid white; height: 400px; margin-left: 10px; width: 900px; margin-right: 15px;"
            class="card bg-dark text-white">

            <img style="opacity: .6; height: 420px;"
                src="https://6.soompi.io/wp-content/uploads/image/20240612094850_byeon-woo-seok-kim-soo-hyun-1.jpg?s=900x600&e=t"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h3 class="card-title" style="padding-top: 260px;">5 K-Drama Male Leads Who Charmed Their Way Into Our
                    Hearts</h3>
                <p class="card-text">Their dashing good-looks apart, they were smart and steadfast, gallantly wearing
                    their hearts on their sleeves. They were willing to take a bullet for love and defy all odds to
                    protect the people they cared about.</p>
                <p class="card-text">Updated: Jun 12, 2024 23:10 IST</p>
            </div><br>
            <div
                style="border: 1px solid #ddd; border-radius: 0px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); text-align: left;">
                <p
                    style="color: black; margin-left: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: left;">

                    Here are five K-drama male leads who had many smitten as they made hearts skip several
                    beats.<br><br>
                    <b>1. Byeon Woo Seok in “Lovely Runner”</b><br><br>

                    There is no denying that Byeon Woo Seok’s Ryu Sun Jae in “Lovely Runner” is the current King of
                    Hearts. When a bedridden Im Sol (Kim Hye Yoon) is told by budding singer Sun Jae of Eclipse during a
                    radio call that he is glad she is alive, Sol’s world is transformed. She becomes a hopelessly
                    devoted fangirl. Years later, when Sun Jae dies in an accident, Im Sol travels back in time to save
                    him and change his destiny. And she even works to change hers.<br><br>

                    Byeon Woo Seok’s endearing portrayal of Sun Jae had many go weak in the knees. He was an outstanding
                    achiever who had no qualms in showing his vulnerable side. Even as Im Sol tries hard to protect Sun
                    Jae across timelines, he is clear that he would happily sacrifice himself for love. Byeon Woo Seok
                    not only got the beats of his character right, but he has made Sun Jae an iconic character of all
                    time. His innocence as he fumbles to confess his feelings, or the hopelessness as he struggles with
                    himself, or the passionate way he expresses himself had viewers captivated.

                    <b>2. Soo Hyun in “Queen of Tears”</b><br><br>

                    Baek Hyun Woo (Kim Soo Hyun) is an astute lawyer who can get himself out of the stickiest of legal
                    situations. But when it comes to his wife Hong Hae In (Kim Ji Won), he has met his biggest match.
                    Hyun Woo is married to the rich heiress Hae In, and though they make the perfect couple, their
                    marriage is far from it. Lack of communication, ego issues, and misunderstandings have driven a
                    wedge between the two. Hyun Woo wants out, but when Hae In receives a life-threatening diagnosis, he
                    decides to bide his time. When sparks are reignited, old feelings resurface, but there are too many
                    factors that keep the two apart. When Hyun Woo’s suspicions are confirmed that Yoon Eun Sung (Park
                    Sung Hoon) not only has feelings for his wife but is also the biggest threat to her family, he puts
                    himself in the line of fire.<br><br>

                    “Queen of Tears” came with its own set of plot twists and tropes, but what scored was the
                    electrifying chemistry between Kim Soo Hyun and Kim Ji Won. Kim Soo Hyun portrayed a man who leaves
                    no stone unturned in protecting the woman he loves and mends their fractured relationship. The
                    complex yet endearing relationship between the two characters was brought out perfectly by the
                    leads.<br><br>

                    <b>3. Park Hyung Sik in “Doctor Slump”</b><br><br>

                    Yeo Jung Woo (Park Hyung Sik) has always been an ace student and is now a star plastic surgeon. But
                    he hits rock bottom after a surgery goes wrong in his clinic. Within days, he loses everything that
                    he built and is also facing a lawsuit for medical negligence. He meets his former classmate and
                    nemesis, his arch-rival Nam Ha Neul (Park Shin Hye). Ha Neul is a doctor, but is battling mental
                    health issues and burn out. As these two find their way around each other, they not only support but
                    also heal each other, and love is just incidental on the way.<br><br>

                    Park Hyung Sik’s Jung Woo is endearing. Despite the magnanimity of the situation he’s in, he is
                    cheerful and encouraging toward Ha Neul. A committed doctor who is battling his own trauma and
                    neglected childhood, he is a giving and compassionate man towards others. Though “Doctor Slump” did
                    meander a bit, Park Hyung Sik gets an A+ for his adorable antics.<br><br>

                    <b>4. Wi Ha Joon in “The Midnight Romance in Hagwon”</b><br><br>

                    Lee Joon Ho (Wi Ha Joon) is a man who knows what he wants, and he will not stop until he gets it.
                    Joon Ho was the star student in Seo Hye Jin’s (Jung Ryeo Won’s) class seven years ago. But Joon Ho
                    wants to quit his corporate job and become a lecturer in the academy he had graduated from. He
                    jokingly tells Hye Jin that he would make a pretty penny at the academy rather than slaving behind a
                    desk at a nine to five. His motives are far from monetary as Joon Ho has been in love with Hye Jin
                    for the past seven years. He is confident about his feelings for Hye Jin, who calls him “her pride”
                    as her one-time student. As the two transition from a former teacher-student relationship to
                    colleagues and later to lovers, we get a delightful romance. Even though Hye Jin is hesitant given
                    their seven-year age gap, Joon Ho is not the one to get bogged by these issues. Instead, he becomes
                    her strongest shield against the world.<br><br>

                    After his stints in the action genre, we finally get to see Wi Ha Joon play a full blown romantic
                    lead, and he does not disappoint at all. As he takes the initiative and woos Hye Jin, his
                    flirtatiousness adds to what’s brewing up to be one hot romance. Wi Ha Joon as Joon Ho cracks the
                    formula of love.<br><br>

                    <b>5. Ji Chang Wook in “Welcome to Samdalri”</b><br><br>

                    Jo Sam Dal (Shin Hye Sun) had hoped never to return home to Samdalri. But her career as a fashion
                    photographer is in tatters, and her pride is badly bruised after being wrongly accused of bullying
                    her assistant. What makes getting home even more tough is the thought of running into her
                    ex-boyfriend Jo Yong Pil (Ji Chang Wook). Sam Dal had broken his heart and left for Seoul. It’s been
                    over a decade, and Yong Pil, a weather forecaster, has never moved away from Samdalri. He is the
                    town’s favorite boy and keeps an eye out for Sam Dal’s mother as well. When these two are brought
                    together, the hurt of the past comes to the surface, but it seems Yong Pil has never harbored any
                    ill-will against Sam Dal. As he pursues her, he also gives her the confidence she so needs in
                    getting her life back on track. He is the safety net and the anchor her meandering soul seeks.<br><br>

                    Ji Chang Wook as Jo Yong Pil is the greenest green flag all the way. He is resilient, patient, and
                    understanding. “Welcome to Samdalri” is a feel-good watch, and the chemistry between Shin Hye Sun
                    and Ji Chang Wook is endearing to say the least.<br>

                    <i style="color: gray;">Published By: pujatalwar
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Published
                        On: Jun 12, 2024 23:10 IST</i>
                </p>
                </div>

        </div>
        <div>

            <!-- Search Widget -->
            <div style="width: 300px; ">
                <div class="card mb-4 border-0">

                    <div class="card-body">
                        <form name="search" action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="searchtitle" class="form-control rounded-0"
                                    placeholder="Search for..." required="">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit"> <i class="fa fa-search"></i></button>
                                </span>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 border-0">
                    <h5 style="color: darkslateblue;" class="card-header border-0 bg-white"><i
                            class="fa-solid fa-arrow-up-right-dots"></i>&nbsp; <b>Recent News
                        </b>
                    </h5>
                    <div class="card-body">
                        <ul class="mb-0 list-unstyled">
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-11/ea131j3_rafah-crossing_625x300_05_November_23.jpg?im=FitAndFill,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/evacuations-of-gazans-through-rafah-crossing-suspended-since-yesterday-report-4547657"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-11/euitcgmc_sarita-singh_120x90_04_November_23.jpg"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/nalgad-civic-body-deputy-chief-sarita-singh-killed-in-nepal-earthquake-4544325"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-10/ijbicas_israeli-tank-in-gaza-reuters_625x300_31_October_23.jpg?im=FeatureCrop,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/israel-hamas-war-palestine-gaza-300-targets-hit-in-a-day-israels-latest-update-on-war-with-hamas-4530622"
                                    class="text-dark font-weight-bold">
                                    <i>Evacuations Of Gazans Through Rafah Suspended Since Yesterday</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://c.ndtvimg.com/2023-10/nc8grpo8_maratha-quota-violece_625x300_31_October_23.jpg?im=FeatureCrop,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/india-news/maharashtra-gatherings-banned-in-beed-dharashiv-after-violence-over-maratha-quota-protests-4530035"
                                    class="text-dark font-weight-bold">
                                    <i>Gatherings Banned In Maharashtra Districts After Violence During Maratha Quota
                                        Protests</i></a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded-circle"
                                    src="https://i.gadgets360cdn.com/large/crypto_thumbnail_alesia_kozik_pexels_small_1637583481486.jpg"
                                    alt="" width="50px" height="50px">
                                <a style="padding-left: 9px;"
                                    href="https://www.gadgets360.com/cryptocurrency/news/bitcoin-price-today-october-16-monday-ether-dogecoin-value-buy-4484783"
                                    class="text-dark font-weight-bold">
                                    <i>Crypto Price Today: Bitcoin Trades Above $27,000, Ether and Solana See
                                        Recoveries</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 border-0">
                    <h5 style="color: darkslateblue;" class="card-header border-0 bg-white"><i
                            class="fa-solid fa-up-right-from-square"></i>&nbsp;<b>International</b>
                    </h5>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/cut-gaza-strip-into-two-says-israel-amid-significant-strikes-4548657"
                                    class="text-dark font-weight-bold">
                                    <b>1.</b> Cut Gaza Strip Into Two, Says Israel Amid "Significant Strikes"</a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/india-news/using-mahadevs-name-to-loot-himanta-sarmas-swipe-at-bhupesh-baghel-4548634"
                                    class="text-dark font-weight-bold">
                                    <b>2.</b> Using Mahadev's Name To "Loot": HImanta Sarma's Swipe At Bhupesh
                                    Baghel</a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/european-jews-today-are-again-living-in-fear-eu-commission-4548617"
                                    class="text-dark font-weight-bold">
                                    <b>3.</b> "European Jews Today Are Again Living In Fear": EU Commission </a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/blinken-says-palestinian-authority-should-have-key-role-in-gazas-future-4548589"
                                    class="text-dark font-weight-bold">
                                    <b>4.</b> Blinken Says Palestinian Authority Should Have Key Role In Gaza's
                                    Future</a>
                            </li>
                            <li class="mb-2">
                                <a href="https://www.ndtv.com/world-news/israel-says-it-exposed-hamas-network-beneath-and-next-to-gaza-hospitals-4548568"
                                    class="text-dark font-weight-bold">
                                    <b>5.</b> Israel Says It Exposed Hamas Network Beneath And Next To Gaza
                                    Hospitals</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4 border-0">
                    <h5 style="color: darkslateblue; " class="card-header border-0 bg-transparent"><i
                            class="fa-solid fa-video"></i>&nbsp;<b> Trending</b></h5>
                    <div class="card-body">
                        <ul class="mb-0 list-unstyled">
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded"
                                    src="https://c.ndtvimg.com/2023-08/qt2bl0oo_donald-trump-afp_120x90_25_August_23.jpg"
                                    alt="" width="50px" height="70px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/donald-trump-set-to-testify-in-new-york-civil-fraud-trial-tomorrow-4548454"
                                    class="text-dark font-weight-bold">
                                    Donald Trump Set To Testify In New York Civil Fraud Trial Tomorrow</a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded"
                                    src="https://c.ndtvimg.com/2023-09/662amtuo_pawan-kalyan-chandrababu-naidu-alliance_120x90_14_September_23.jpg"
                                    alt="" width="50px" height="70px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/india-news/nda-aliies-bjp-pawan-kalyans-party-jana-sena-reach-understanding-for-telangana-polls-4548456"
                                    class="text-dark font-weight-bold">
                                    BJP, Pawan Kalyan's Party Jana Sena "Reach Understanding" For Telangana Polls</a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded"
                                    src="https://c.ndtvimg.com/2023-08/8rr14cp8_air-india-new-look_120x90_10_August_23.jpg"
                                    alt="" width="50px" height="70px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/air-india-suspends-tel-aviv-flights-till-november-30-as-israel-hamas-war-rages-4548459"
                                    class="text-dark font-weight-bold">
                                    Air India Suspends Tel Aviv Flights Till November 30 As Israel-Hamas War Rages</a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded"
                                    src="https://c.ndtvimg.com/2023-11/o8rhsr2o_blinken-with-cyprus-president_625x300_05_November_23.jpg?im=FitAndFill,algorithm=dnn,width=240,height=180"
                                    alt="" width="50px" height="70px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/world-news/blinken-discusses-sea-route-for-gaza-aid-with-cyprus-president-4548441"
                                    class="text-dark font-weight-bold">
                                    Blinken Discusses Sea Route For Gaza Aid With Cyprus President</a>
                            </li>
                            <li class="d-flex mb-2 align-items-center">
                                <img class="mr-2 rounded"
                                    src="https://c.ndtvimg.com/2021-10/0th3i8i_manohar-lal-khattar_120x90_03_October_21.jpg"
                                    alt="" width="50px" height="70px">
                                <a style="padding-left: 9px;"
                                    href="https://www.ndtv.com/india-news/haryana-announces-free-transportation-for-school-students-in-villages-4548406"
                                    class="text-dark font-weight-bold">
                                    Haryana Announces Free Transportation For School Students In Villages</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="background-color: white;">
                    <h5 style="color: darkslateblue; " class="card-header border-0 bg-transparent"><i
                            class="fa-solid fa-video"></i>&nbsp;<b>Most Popular</b></h5>
                </div>
                <div class="card my-4 border-0">
                    <div class="card-body p-2">
                        <iframe width="100%" height="180px" class="youtube"
                            src="https://www.youtube.com/embed/gjUdvn5IzpM?si=7HDef4xz6T4k04-5" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="card my-4 border-0">
                    <div class="card-body p-2">
                        <iframe width="100%" height="180px" class="youtube"
                            src="https://www.youtube.com/embed/qJ9QZ5ixIVA?si=Nv99lvg04vgK9iHo" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="card my-4 border-0">
                    <div class="card-body p-2">
                        <iframe width="100%" height="180px" class="youtube"
                            src="https://www.youtube.com/embed/Nn4pLwCixgA?feature=shared" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div>
        <div class="footer-area  ">
            <div style="background-color: rgb(58, 59, 59); padding-top: 20px;" class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">COMPANY</h3>
                            </li>
                            <li class="mb-2"><a href="#">Environment</a></li>
                            <li class="mb-2"><a href="#">Religion</a></li>
                            <li class="mb-2"><a href="#">Fashion</a></li>
                            <li class="mb-2"><a href="#">Terrorism</a></li>
                            <li class="mb-2"><a href="#">Conflicts</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">PRODUCT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Medical Research</a></li>
                            <li class="mb-2"><a href="#">Children s Health</a></li>
                            <li class="mb-2"><a href="#">Around the World</a></li>
                            <li class="mb-2"><a href="#">Ad Choices</a></li>

                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">T & C</h3>
                            </li>
                            <li class="mb-2"><a href="#">Commercial</a></li>
                            <li class="mb-2"><a href="#">Find A Home</a></li>
                            <li class="mb-2"><a href="#">Mortgage Calculator</a></li>
                            <li class="mb-2"><a href="#">My Real Estate</a></li>
                            <li class="mb-2"><a href="#">The High End</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot"> LINK</h3>
                            </li>
                            <li class="mb-2"><a href="#">Politics</a></li>
                            <li class="mb-2"><a href="#">Opinion</a></li>
                            <li class="mb-2"><a href="#">N.Y.</a></li>
                            <li class="mb-2"><a href="#">Science</a></li>
                            <li class="mb-2"><a href="#">Business</a></li>


                        </ul>
                    </div>
                    <div class="col">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">CONTENT</h3>
                            </li>
                            <li class="mb-2"><a href="#">Arts</a></li>
                            <li class="mb-2"><a href="#">Style</a></li>
                            <li class="mb-2"><a href="#">Food</a></li>
                            <li class="mb-2"><a href="#">Travel</a></li>



                        </ul>
                    </div>
                    <div class="col d-none d-lg-block">
                        <ul class="float-left list-unstyled ">
                            <li class="mb-2">
                                <h3 class="foot">MEDIA</h3>
                            </li>
                            <li class="mb-2"><a href="#">Basketball</a></li>
                            <li class="mb-2"><a href="#">Football: College</a></li>
                            <li class="mb-2"><a href="#">Football: N.F.L.</a></li>

                            <li class="mb-2"><a href="#">Hockey</a></li>
                            <li class="mb-2"><a href="#">Soccer</a></li>

                        </ul>

                    </div>
                </div>
                <div
                    style="display: flex; padding-top: 20px;padding-bottom: 20px; background-color: rgb(103, 102, 102);">
                    <i class="fa-brands fa-facebook" style="color: #4887f3; margin-left: 10px; font-size: 30px;"> </i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Facebook</h3>
                    <i class="fa-brands fa-twitter" style="color: #479ef6; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">Twitter</h3>
                    <i class="fa-brands fa-youtube" style="color: #f83030; margin-left: 30px; font-size: 30px;"></i>
                    <h3 style="color: aliceblue; margin-left: 9px;">YouTube</h3>
                    <i class="fa-regular fa-copyright" style="color: #ffffff; margin-left: 100px ;font-size: 30px;"></i>
                    <h5 style="color: white;">TheDailyBrief free news website - All Rights Reserved</h5>
                </div>
            </div>
        </div>
    </div>

</body>

</html>