:host {
    display: block;
    width: 100%;
}

img {
    width: 100%;
}

.heading {
    color: red;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    letter-spacing: 3px;
    display: inline-block;
}

.title {
    height: 60px;
    overflow: hidden;
    color: var(--brown-500);
    margin: 0.5rem 1rem 1rem;
}

@media screen and (min-width: 1200px) {
    .main .title {
        overflow: auto;
        height: max-content;
    }

    .other .heading {
        margin: 0.2rem 0;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}